* {
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

#menu{
    height: 80px;
    padding: 0 20px;
}

#logo{
    font-size: 30px;
    line-height: 80px;
    color: #003666;
    float: left;
}

nav{
    float: right;
    line-height: 80px;
}

nav a:link{
    text-decoration: none;
    margin-right: 25px;
    color: #003666;
}

nav a:hover{
    border-bottom: 2px solid
     #003666;
}

nav a:visited{
    text-decoration: none;
    margin-right: 25px;
    color: #003666;
}

.icon{
    margin-right: 7px;
    font-size: 16px;
}

#anasayfa{
    height: 600px;
    background-image: url("../img/r2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#black{
    height: 600px;
    background-color: black;
    opacity: 0.4;
}

#icerik{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 15px;
}

#hakkimizda{
    background-color: #f8f9fa;
    padding: 50px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}

h3{
    font-size: 55px;
    color: #003666;
    text-shadow: 0px 1px 1px black;
}

.container{
    width: 1200px;
    height: auto;
    margin: auto;
}

#sol{
    float: left;
    border-right: 3px solid #445c6e;
    font-size: 30px;
    width: 400px;
    color: #445c6e;
}

#h5sol{
    line-height: 1.6;
    font-size: 25px;
    font-weight: 600;
}

#h5sol,#sag{
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

span{
    font-size: 50px;
    margin-right: 7px;
    line-height: 42px;
    color: #003666;
    font-weight: 600;
    float: left;
}

#sag{
    float: right;
    width: 700px;
    color: #999999;
    text-align: center;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 100;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.mt100{
    margin-top: 100px;
}

#pson{
    color: #999;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.8;
    margin-top: 30px;
    font-weight: 100;
}

#egitimler{
    background-color: #fff;
    padding: 50px;
    text-align: center;
    height: 800px;
}

.card{
    width: 320px;
    height: 350px;
    border: 1px solid #ddd;
    padding: 0;
    display: inline-block;
}
.card:hover{
    border: 2px solid #003666;
}

.baslikcard{
    font-size: 15px;
    color: #003666;
}

.cardp{
    color:#888;
}

#ekip{
    background-color: #3675a5;
    padding: 50px;
    height: 800px;
    text-align: center;
    
}

#ekipH3{
    color: white;
}

.oval{
    border-radius: 50px;
}

.ekipisim{
    color: white;
    font-size: 25px;
    margin-bottom: 12px;
}

.ekipp{
    color: #313131;
    font-size: 17px;
}

.social{
    color: white;
    border: 1px solid white;
    padding: 5px;
    width: 30px;
    border-radius: 12px;
    margin: 5px 10px;
}

.social:hover{
    background-color: #313131;
}

.sutun{
    width: 350px;
    float: left;
    padding: 20px;
}

.sutunsag{
    width: 350px;
    float: left;
    padding: 50px;
}

.sutunsol{
    width: 350px;
    float: left;
    padding: 50px;
}

#iletisim{
    background: url(../img/iletisim.jpg);
    background-size: cover;
    padding: 50px;
    height: auto;
    text-align: center;
}

#h3iletisim{
    color: white;
}

#iletisimopak{
    background-color: rgba(255,255,255, 0.2);
    padding: 30px 20px;
    border-radius: 15px;
    margin-bottom: 50px;
    height: 530px;
    width: 1100px;
}

#formgroup{
    width: 600px;
    float: left;
    height: 500px;
    text-align: left;
}

#solform{
    width: 50%;
    float: left;
    padding-right: 5px;
}
#sagform{
    width: 50%;
    float: right;
    padding-left: 10px;
}

.form-control{
    width: 100%;
    padding: 15px;
    font-size: 15px;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ced4da;
}

textarea{
    font-family: Arial, Helvetica, sans-serif;
}

input[type="submit"]{
    cursor: pointer;
    background-color: #445c6e;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 30px;
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    margin-left: 10px;
    margin-top: 10px;
}

#adres{
    width: 450px;
    float: right;
    padding: 30px;
    height: 500px;
    text-align: left;
}

#adresbaslik{
    font-size: 30px;
    color: white;
}

.adresp{
    color: #ddd;
    font-size: 15px;
    letter-spacing: 1.5px;
}

#copyright{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

#up{
    color: white;
    border: 1px solid white;
    border-radius: 100%;
    font-size: 15px;
    padding: 12px 12px;
    margin-top: 20px;
}